
*{
padding-top:40px;
padding-bottom:80px;
font-family: 'Yomogi', cursive;
font-family: 'Zen Kurenaido', sans-serif;

}


.title{
font-size:30px;
text-align:center;
padding-top:20px;
padding-bottom:30px;
}

.main{
font-size:30px;
padding:0px 110px;
line-height:90px;



}

.main p{
background: linear-gradient(transparent 96%, #d3d3d3 96%);
  display: inline;
  font-weight: bold; 
  padding:  1px 1px;
}
