
*{
font-family: 'Yomogi', cursive;
font-family: 'Zen Kurenaido', sans-serif;

}


.title{
padding-top:40px;
font-size:30px;
text-align:center;
}

.main{
font-size:27px;
padding:0px 100px;
line-height:90px;



}

.main p{
background: linear-gradient(transparent 97%, #d3d3d3 97%);
  display: inline;
  font-weight: bold; 
  padding:  1px 1px;
}
