
*{
padding-top:50px;
font-family: 'Yomogi', cursive;
font-family: 'Zen Kurenaido', sans-serif;
}


.title{
font-size:30px;
text-align:center;
padding-bottom:70px;
}

.main{
font-size:25px;
padding:0px 100px;
line-height:90px;



}

.main p{
background: linear-gradient(transparent 90%, #d3d3d3 90%);
  display: inline;
  font-weight: bold; 
  padding:  1px 1px;
}
